/* task5.css is a file which most copied from task2.css with a little modification */


/* defind the font for whole website */

* {
    font-family: "SimHei";
}

/* css for body */

body {
    background-color: gainsboro;
}
/* css for wrap */
.wrap {
    overflow: hidden;
    margin: auto;
}
/* css for container */

.container {
    margin-right: 340px;
    overflow: hidden;
    height: auto;
}

/* css for articles */

body article {
    background-color: white;
    margin: 20px;
    box-shadow: 1px 1px #555;
    padding: 30px;
}

/* css for navigation bar */

nav {
    background-color: #555;
    overflow: hidden;
}
nav img {
    float: left;
    margin-left: 10px;
}
nav li:last-child a {
    color: #aaa;
}
nav ul {
    position: absolute;
    right: 20px;
}
nav li {
    display: inline;
    right: 20px;
}
nav li:before {
    content: "\25CF";
    font-size: 1px;
    margin-right: 5px;
}
nav li a {
    color: white;
    font-size: 13px;
}

/* css for second title inside the articles */

.second {
    font-weight: lighter;
    font-size: 15px;
    color: #444;
}

/* css for author of each articles */

.author {
    font-size: 12px;
    color: #aaa;
    text-indent: inherit;
}

/* css for all texts of each articles */

article p {
    text-indent: 34px;
    line-height: 150%;
}

/* css for the list of second articles */

.unstylelist {
    list-style: none;
    line-height: 150%;
}
/* css for the display style of images */
.fluido {
    width: 100%;
    overflow: hidden;
}

/* css for the img of third articles */

.portfolio {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid #aaa;
    margin: 10px;
    padding: 10px;
    float: left;
}
.portfolio img {
    max-width: 100%;
}
.portfolio p {
    text-indent: inherit;
    margin: auto;
    font-size: 15px;
}

/* css for the styled list in the forth article */

.stylelist {
    line-height: 150%;
}

/* css for the table of forth article */

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
.table table,
.table th,
.table td {
    border: 1px solid grey;
    height: 20px;
}
.table th {
    text-align: left;
    background-color: #555;
    color: white;
}
.table tr:last-child td {
    background-color: grey;
}
.table caption {
    text-align: left;
}

/* css for sidebar */

aside {
    width: 300px;
    top: 80px;
    height: auto;
    right: 10px;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px #555;
    padding: 20px;
}
aside div:first-child {
    overflow: hidden;
    padding: auto;
}
aside div:first-child div {
    width: 3px;
    height: 40px;
    float: left;
    background-color: #aaa;
    margin: auto 10px auto 0;
}
aside h2 {
    font-size: 15px;
}
.space {
    padding: 10px;
}
aside form {
    text-align: center;
}
aside table {
    width: 100%;
    font-size: 12px;
}
aside table tr td:nth-child(1) {
    width: 40%;
    text-align: right;
}
aside table tr td:nth-child(2) {
    width: 60%;
    text-align: left;
}
aside table textarea {
    width: 90%;
}
.note {
    margin: auto;
    margin-top: 5px;
    color: grey;
}
.submit {
    width: 90%;
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    height: 40px;
    margin-top: 10px;
}

/* css for footer */

footer {
    background-color: #111;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 30px;
}
footer p {
    margin: 0 auto 10px auto;
}
